{% extends "base.html" %}
{% block title %}Colores Autos{% endblock %} 
{% block content %}      
    <p>Colores de los autos</p>
    <a href="{% url 'catalogo_de_autos:index_categorias' %}" class="btn btn-secondary mb-3">Volver a Catagorias</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Colores</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
            {% for color in colores%}
                <tbody>
                <tr>
                    <td>{{ color.colorauto }}</td>
                    <td><a href="edit_colorauto/{{ color.id }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="delete_colorauto/{{ color.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                </tbody>
            {% endfor %}
      </table>
    <a href="{% url "catalogo_de_autos:add_colorauto" %}" class="btn btn-primary">Crear Nuevos Colores para autos</a>
{% endblock %}