{% extends "base.html" %}
{% block title %}Porcentajes de IVA{% endblock %} 
{% block content %}      
    <p>Porcetajes de IVA que disponemos:</p>
    <a href="{% url 'catalogo_de_autos:index_categorias' %}" class="btn btn-secondary mb-3">Volver a Catagorias</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">IVA</th>
            <th scope="col">Valor en decimal</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
            {% for iva in piva %}
                <tbody>
                <tr>
                    <td>{{ iva.porcentajeiva }}</td>
                    <td>{{ iva.valordecalculo }}</td>
                    <td><a href="edit_iva/{{ iva.id }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="delete_iva/{{ iva.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
                </tbody>
            {% endfor %}
      </table>
    <a href="{% url "catalogo_de_autos:add_iva" %}" class="btn btn-primary">Crear Nuevos valores de Iva</a>
{% endblock %}