{% extends "base.html" %}
{% block title %}Colores Autos{% endblock %} 
{% block content %}      
    <p>Colores de los autos</p>
    <a href="{% url 'catalogo_de_autos:index_categorias' %}" class="btn btn-secondary mb-3">Volver a Catagorias</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Colores</th>
          </tr>
        </thead>
            {% for color in colores%}
                <tbody>
                <tr>
                    <th>{{ color.id }}</th>
                    <td>{{ color.colorauto }}</td>
                </tr>
                </tbody>
            {% endfor %}
      </table>
{% endblock %}