{% extends "base.html" %}
{% block title %}Venta {{ venta.codigoventa }}{% endblock title %}
{% block content %}
    <h2>Detalles de la Venta</h2>
    <p>Has seleccionado la venta con código: <strong>{{ venta.codigoventa }}</strong></p>
    <h3>Detalles:</h3>
    <ul>
        <li>Cliente: {{ venta.cliente }}</li>
        <li>Auto: {{ venta.auto }}</li>
        <li>Fecha de Compra: {{ venta.fechacompra }}</li>
        <li>Forma de Pago: {{ venta.formadepago }}</li>
        <li>Cantidad de Venta: {{ venta.cantidaddeventa }}</li>
        <li>Valor del Auto: {{ venta.valordelauto }}</li>
        <li>IVA: {{ venta.iva }}</li>
        <li>Valor Total a Pagar: {{ venta.valortotalapagar }}</li>
    </ul>
{% endblock content %}
