{% extends "base.html" %}
{% block title %}{{ cliente.apellidos }} {{ cliente.nombres }}{% endblock title %}
{% block content %}
    <h2>{{ cliente.apellidos }} {{ cliente.nombres }}</h2>
    <p>Has seleccionado el cliente: <strong>{{ cliente.apellidos }} {{ cliente.nombres }}</strong></p>
    <h3>Detalles del Cliente:</h3>
    <ul>
        <li>Apellidos: {{ cliente.apellidos }}</li>
        <li>Nombres: {{ cliente.nombres }}</li>
        <li>Cédula: {{ cliente.cedula }}</li>
        <li>Provincia: {{ cliente.provincia }}</li>
        <li>Teléfono: {{ cliente.numerodetelefono }}</li>
        <li>Email: {{ cliente.email }}</li>
        <li>Estado Cliente: {{ cliente.estadocliente }}</li>
    </ul>
{% endblock content %}
