{% extends "base.html" %}
{% block title %}Porcentajes de IVA{% endblock %} 
{% block content %}      
    <p>Porcetajes de IVA que disponemos:</p>
    <a href="{% url 'catalogo_de_autos:index_categorias' %}" class="btn btn-secondary mb-3">Volver a Catagorias</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">IVA</th>
            <th scope="col">Valor en decimal</th>
          </tr>
        </thead>
            {% for iva in piva %}
                <tbody>
                <tr>
                    <th>{{ iva.id }}</th>
                    <td>{{ iva.porcentajeiva }}</td>
                    <td>{{ iva.valordecalculo }}</td>
                </tr>
                </tbody>
            {% endfor %}
      </table>
{% endblock %}