{% extends "base.html" %}
{% block title %}Autos{% endblock title %}
{% block content %}
<p class="p-2">Bienvenido a la gestión de autos</p>

<a href="{% url 'catalogo_de_autos:add_auto' %}" class="btn btn-primary mb-3">Agregar auto</a>
<div class="card-group">
    {% for auto in autos %}
        <div class="card">
            <img src="{{% "logodeautos.jpg" %}}" alt="" width="100%" height="100%">
            <div class="card-body">
                <h5 class="card-title">{{ auto.modelo }}</h5>
                <p class="card-text">Marca: {{ auto.marca }}</p>
                <p class="card-text">Color: {{ auto.color }}</p>
                <p class="card-text">Año: {{ auto.anioauto }}</p>
                
                <a href="auto/{{ auto.id }}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a href="edit_auto/{{ auto.id }}" class="btn btn-primary">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="delete_auto/{{ auto.id }}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
