{% extends "base.html" %}
{% block title %}Inicio{% endblock %} 
{% block content %}               
    <h2>Bienvenido al Concesionario de Autos</h2>
    <p>Catalogos Disponibles</p>
    <h3>Listado de opciones</h3>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h4>Categorias</h4>
                <a href="{% url "catalogo_de_autos:index_categorias" %}" class="btn btn-primary">Detalles Categorias</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Clientes</h4>
                <a href="{% url "catalogo_de_autos:index_clientes" %}" class="btn btn-primary">Detalles de Clientes</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Autos</h4>
                <a href="{% url "catalogo_de_autos:index_autos" %}" class="btn btn-primary">Detalles de Autos</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Kardex</h4>
                <a href="{% url "catalogo_de_autos:index_kardex" %}" class="btn btn-primary">Detalles de Kardex</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Ventas Totales</h4>
                <a href="{% url "catalogo_de_autos:index_ventastotales" %}" class="btn btn-primary">Detalles</a>
            </div>
        </div>
    </div> 
{% endblock content %}