{% extends "base.html" %}
{% block title %}Autos{% endblock title %}
{% block content %}
<p class="p-2">Bienvenido a la gestión de autos</p>
<a href="{% url 'catalogo_de_autos:index' %}" class="btn btn-secondary mb-3">Volver al Inicio</a>
<div class="card-group">
    {% for auto in autos %}
        <div class="card">
            <img src="{{ auto.imagencarro.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ auto.modelo }}</h5>
                <p class="card-text">Marca: {{ auto.marca }}</p>
                <p class="card-text">Color: {{ auto.color }}</p>
                <p class="card-text">Año: {{ auto.anioauto }}</p>
                <a href="auto/{{ auto.id }}" class="btn btn-primary"><i class="fa-regular fa-eye"></i>Detalles</a>
                <a href="edit_auto/{{ auto.id }}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                <a href="delete_auto/{{ auto.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i>Eliminar</a>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url "catalogo_de_autos:add_auto" %}" class="btn btn-primary">Crear Nuevo Auto</a>
{% endblock content %}
