{% extends "base.html" %}
{% block title %}Kardex{% endblock %}
{% block content %}
    <h2>Kardex</h2>
    <a href="{% url 'catalogo_de_autos:index' %}" class="btn btn-secondary mb-3">Volver a Inicio</a>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Entradas en Kardex</h5>
              <p class="card-text">Compras para recargar el inventario</p>
              <a href="{% url "catalogo_de_autos:display_kardexentradas" %}" class="btn btn-secondary"><i class="fa-regular fa-eye"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Salidas en Kardex</h5>
              <p class="card-text">Ventas del producto</p>
              <a href="{% url "catalogo_de_autos:display_kardexsalidas" %}" class="btn btn-secondary"><i class="fa-regular fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
