{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
    <h2>Clientes</h2>
    <a href="{% url 'catalogo_de_autos:index' %}" class="btn btn-secondary mb-3">Volver a Inicio</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Cédula</th>
                <th>Provincia</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Estado Cliente</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.apellidos }}</td>
                    <td>{{ cliente.nombres }}</td>
                    <td>{{ cliente.cedula }}</td>
                    <td>{{ cliente.provincia }}</td>
                    <td>{{ cliente.numerodetelefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.estadocliente }}</td>
                    <td><a href="edit_cliente/{{ cliente.id }}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a></td>
                    <td><a href="delete_cliente/{{ cliente.id }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url "catalogo_de_autos:add_cliente" %}" class="btn btn-primary">Crear Nuevo Cliente</a>
{% endblock %}
