{% extends "base.html" %}
{% block title %}Login{% endblock title %} 
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h2>Inicio de Sesión</h2>
        <form action="{% url "catalogo_de_autos:login" %}" method="post">
            {% csrf_token %}
            <div>
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
{% endblock content %} 